tr{
    height: 100px;
    text-align: center;
}
.header{
    text-decoration: underline;
}
h1{
    text-align: center;
    font-weight: 600;
    text-decoration: underline;
}
/* .breaker-box{
    float: left;
} */